@import 'fonts';
@import 'variables';
@import './themes/light';
@import './themes/dark';

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  margin: 0;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: var(--main-color-black);
}

body::-webkit-scrollbar-thumb {
  background: var(--main-color-gray-35);
  border-radius: 5px;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  width: 100%;
}

.content {
  background: url('shared/assets/img/content/background-section-promo-desktop.svg') center -67px / 100% no-repeat,
              url('shared/assets/img/content/background-section-articles-desktop.svg') center 933px / 100% no-repeat,
              var(--main-color-white);
  flex: 1 0 auto;
  overflow: hidden;
}

@media screen and (max-width: 1279px) {
  .content {
    background: url('shared/assets/img/content/background-section-promo-tablet.svg') center -132px / 100% no-repeat,
                url('shared/assets/img/content/background-section-articles-tablet.svg') center 645px / 100% no-repeat,
                var(--main-color-white);
  }
}

@media screen and (max-width: 767px) {
  .content {
    background: url('shared/assets/img/content/background-section-promo-mobile.svg') center -125px / 100% no-repeat,
                url('shared/assets/img/content/background-section-articles-mobile-1.svg') center 1205px / 100% no-repeat,
                url('shared/assets/img/content/background-section-articles-mobile-2.svg') center 3048px / 100% no-repeat,
                url('shared/assets/img/content/background-section-articles-mobile-2.svg') center 4695px / 100% no-repeat,
                var(--main-color-white);
  }
}

