@import 'fonts';
@import 'variables';

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  margin: 0;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: var(--main-color-black);
}

body::-webkit-scrollbar-thumb {
  background: var(--main-color-gray-35);
  border-radius: 5px;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  width: 100%;
}

.content {
  flex: 1 0 auto;
  overflow: hidden;
}

