:root {
  --primary-font-light: 'Raleway-Light', 'Arial', sans-serif;
  --primary-font-regular: 'Raleway-Regular', 'Arial', sans-serif;
  --primary-font-semibold: 'Raleway-SemiBold', 'Arial', sans-serif;
  --primary-bg-color: #131217;
  --secondary-bg-color: #1d1c22;
  --primary-font-color: #fffefb;
  --secondary-font-color: #8188a2;
  --font-size-l: 18px;
}
