@keyframes rotateLeftRectangle {
  0% {
    transform: rotate(-16deg);
  }

  70% {
    transform: rotate(-396deg);
  }

  80% {
    transform: rotate(-356deg);
  }

  90% {
    transform: rotate(-381deg);
  }

  95% {
    transform: rotate(-371deg);
  }

  100% {
    transform: rotate(-376deg);
  }
}

@keyframes rotateBack {
  from {
    transform: rotate(-196deg);
  }

  to {
    transform: rotate(-16deg);
  }
}

.article_sticker-rotate_left-rectangle:hover .article__image-sticker {
  animation: rotateLeftRectangle 3s ease-out both;
}

.article_sticker-rotate_left-rectangle .article__image-sticker {
  animation: rotateBack .2s ease-in both;
}
