@keyframes rotateLeft {
  0% {
    transform: rotate(0);
  }

  70% {
    transform: rotate(-380deg);
  }

  80% {
    transform: rotate(-340deg);
  }

  90% {
    transform: rotate(-365deg);
  }

  95% {
    transform: rotate(-355deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

@keyframes rotateBack {
  from {
    transform: rotate(-180deg);
  }

  to {
    transform: rotate(0);
  }
}

.article_sticker-rotate_left:hover .article__image-sticker {
  animation: rotateLeft 3s ease-out both;
}

.article_sticker-rotate_left .article__image-sticker {
  animation: rotateBack .2s ease-in both;
}
