.webinars__date-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: end;
  min-height: 75px;
  width: 100%;
}

@media screen and (max-width: 1279px) {
  .webinars__date-container {
    min-height: 96px;
  }
}

@media screen and (max-width: 767px) {
  .webinars__date-container {
    min-height: 75px;
  }
}
