.contacts {
  display: flex;
  gap: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.title {
  color: var(--main-color-gray-35);
  font: var(--secondary-font-size-s) var(--secondary-font-medium);
  line-height: var(--font-line-heigth-l);
  margin: 0;
  text-transform: uppercase;
}

.link {
  color: var(--main-color-white);
  font: var(--secondary-font-size-l) var(--secondary-font-bold);
  line-height: var(--font-line-heigth-l);
  position: relative;
  text-decoration: none;
}

.link::before {
  background: var(--main-color-white);
  bottom: 0;
  content: '';
  height: 1.5px;
  position: absolute;
  right: 0;
  transition: width .3s ease-out;
  width: 0;
}

.link:hover::before {
  left: 0;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .contacts {
    gap: 24px;
    order: 3;
  }

  .link {
    align-self: start;
  }
}