.button_type_promo {
  align-self: start;
  background: var(--tag-color-grass);
  box-shadow: 0px 0px 0px 5px var(--tag-color-grass) inset,
              0px 0px 0px 6.5px var(--main-color-black) inset;
  color: var(--main-color-black);
  display: block;
  font-family: var(--secondary-font-medium);
  padding: 15.1px 55px;
  transition: background-color .3s ease-out,
              box-shadow .3s ease-out,
              color .3s ease-out,
              outline .3s ease-out;
}

.button_type_promo:hover {
  background: var(--main-color-black);
  box-shadow: 0px 0px 0px 5px var(--main-color-black) inset,
              0px 0px 0px 6.5px var(--main-color-black) inset;
  color: var(--main-color-white);
}

.button_type_promo:focus {
  box-shadow: 0px 0px 0px 2px var(--main-color-black) inset,
              0px 0px 0px 5px var(--tag-color-grass) inset,
              0px 0px 0px 6.5px var(--tag-color-grass) inset;
}

@media screen and (max-width: 767px) {
  .button_type_promo {
    padding: 15.1px 0;
    text-align: center;
    width: 100%;
  }
}
