.article__image-sticker_position_right {
  right: 0;
}

@media screen and (max-width: 1279px) {
  .article__image-sticker_position_right {
    right: 1%;
    top: 2.5%;
  }
}

@media screen and (max-width: 767px) {
  .article__image-sticker_position_right {
    right: 3%;
    top: 2.5%;
  }
}
