.footer__signature-item {
  display: flex;
  gap: 10px;
}

.footer__signature-item::after {
  align-self: center;
  background: var(--main-color-gray-35);
  border-radius: 50%;
  content: '';
  display: block;
  height: 5px;
  width: 5px;
}

.footer__signature-item:last-child::after {
  display: none;
}
