.button {
  border-radius: 40px;
  border: none;
  cursor: pointer;
  font-size: var(--secondary-font-size-l);
  line-height: var(--font-line-heigth-l);
  outline: none;
}

@media screen and (max-width: 767px) {
  .button {
    width: 100%;
  }
}
