.subscribe__image-container {
  background: var(--main-color-black);
  inset: 0 0 0 auto;
  mask: url('/assets/images/subscribe/subscribe-mask/subscribe-image-mask-desktop.svg') 0 0/100% 100% no-repeat;
  overflow: hidden;
  position: absolute;
  width: 416px;
}

@media screen and (max-width: 1279px) {
  .subscribe__image-container {
    mask: url('/assets/images/subscribe/subscribe-mask/subscribe-image-mask-tablet.svg') 0 0/100% 100% no-repeat;
    width: 40.91%;
  }
}

@media screen and (max-width: 767px) {
  .subscribe__image-container {
    height: 423px;
    inset: auto 0 -2% 0;
    mask: url('/assets/images/subscribe/subscribe-mask/subscribe-image-mask-mobile.svg') 0 0/100% 100% no-repeat;
    width: 100%;
  }
}
