.footer__form {
  align-items: start;
  display: flex;
  flex-direction: column;
  gap: 8px;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  justify-content: end;
}

@media screen and (max-width: 1279px) {
  .footer__form {
    align-items: end;
    gap: 16px;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    justify-content: start;
  }
}

@media screen and (max-width: 767px) {
  .footer__form {
    gap: 8px;
    order: 4;
  }
}
