.subscribe__subtitle {
  font: var(--primary-font-size-m) var(--primary-font);
  line-height: var(--font-line-heigth-s);
  margin: 0;
}

@media screen and (max-width: 1279px) {
  .subscribe__subtitle {
    font-size: var(--primary-font-size-xxs);
  }
}
