@keyframes scrollFromRightToLeftDesktop {
  from {
    transform: translateX(25%);
  }
  to {
    transform: translateX(calc(-25% + 47px));
  }
}

@keyframes scrollFromRightToLeftTablet {
  from {
    transform: translateX(25%);
  }
  to {
    transform: translateX(calc(-25% - 57px));
  }
}

.title_type_articles {
  transform: rotate(-4deg);
}

.title_type_articles .title__container {
  background-color: var(--tag-color-turquoise);
}

.title_type_articles .title__list {
  animation: scrollFromRightToLeftDesktop 20s linear infinite;
}

@media screen and (max-width: 1279px) {
  .title_type_articles {
    transform: rotate(-3deg);
  }

  .title_type_articles .title__list {
    animation: scrollFromRightToLeftTablet 15s linear infinite;
  }
}

@media screen and (max-width: 767px) {
  .title_type_articles {
    transform: rotate(-4deg);
  }
}
