@keyframes scrollFromLeftToRightDiscountDesktop {
  from {
    transform: translateX(-25%);
  }
  to {
    transform: translateX(calc(25% - 778px));
  }
}

@keyframes scrollFromLeftToRightDiscountTablet {
  from {
    transform: translateX(-25%);
  }
  to {
    transform: translateX(calc(25% + 302px));
  }
}

.title_type_discount {
  color: var(--main-color-gray-5);
}

.title_type_discount .title__container {
  background-color: var(--text-color-pink-dark);
}

.title_type_discount .title__list {
  animation: scrollFromLeftToRightDiscountDesktop 20s linear infinite;
}

.title_type_discount .title__image {
  fill: var(--main-color-gray-5);
}

@media screen and (max-width: 1279px) {
  .title_type_discount {
    font-size: var(--primary-font-size-l);
  }

  .title_type_discount .title__list {
    transform: translateX(-25%);
    animation: scrollFromLeftToRightDiscountTablet 15s linear infinite;
  }
}
