.article__date-list {
  color: var(--main-color-gray-35);
  display: flex;
  font-size: var(--secondary-font-size-m);
  gap: 24px;
  line-height: var(--font-line-heigth-m);
  list-style: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1279px) {
  .article__date-list {
    align-items: end;
    flex-direction: column;
    gap: 8px;
    padding-top: 12px;
  }
}

@media screen and (max-width: 767px) {
  .article__date-list {
    align-items: start;
    flex-direction: row;
    gap: 23px;
    padding-top: 0;
  }
}
