.article__tags-item_active {
  margin-right: 6px;
}

@media screen and (max-width: 1279px) {
  .article__tags-item_active {
    display: flex;
    flex: 1 0 100%;
    justify-content: end;
    margin-right: 0;
  }
}
