.articles {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 104px;
  padding-bottom: 241px;
  width: 100%;
}

@media screen and (max-width: 1279px) {
  .articles {
    gap: 80px;
  }
}

@media screen and (max-width: 767px) {
  .articles {
    gap: 40px;
  }
}
