.dark {
  /* --main-color-white: #1B1F21;
  --main-color-black: #757778;
  --main-color-gray-5: #757778; */
  --main-color-black: #1B1F21;
  --main-color-white: #FCFAF9;
  --main-color-gray-5: #F2F2F2;
}