.input_type_subscribe .input__element {
  background: transparent;
  box-shadow: 0px 0px 0px 1.5px var(--main-color-white) inset;
  color: var(--main-color-white);
  padding: 10px 24px;
  transition: box-shadow .3s ease-out,
              color 3s ease-out;
  width: 280px;
}

.input_type_subscribe .input__element::placeholder {
  color: var(--main-color-gray-15);
}

.input_type_subscribe .input__element:hover::placeholder {
  color: var(--main-color-white);
}

.input_type_subscribe .input__element:disabled {
  box-shadow: 0px 0px 0px 1.5px var(--main-color-gray-15) inset;
}

.input_type_subscribe .input__element:disabled::placeholder {
  color: var(--main-color-white-tr-60);
}

.input_type_subscribe .input__element:focus {
  box-shadow: 0px 0px 0px 1.5px var(--main-color-black) inset;
}

.input_type_subscribe .input__element:focus::placeholder {
  color: var(--main-color-white);
}

.input_type_subscribe .input__error-text {
  color: var(--main-color-white);
  font: var(--secondary-font-size-s) var(--secondary-font-medium);
}

@media screen and (max-width: 1279px) {
  .input_type_subscribe {
    width: 100%;
  }

  .input_type_subscribe .input__element {
    width: 100%;
  }
}
