.webinars {
  align-items: center;
  background-color: var(--main-color-white);
  color: var(--main-color-white);
  display: flex;
  flex-direction: column;
  font: var(--primary-font-size-s) var(--primary-font);
  justify-content: center;
  line-height: var(--font-line-heigth-s);
  padding: 120px 0 210px;
  position: relative;
  width: 100%;
}

.webinars::before {
  background: url('../../../assets/images/webinars/webinars-bg/webinars-bg.svg') 49.85% 51% no-repeat,
              var(--main-color-black);
  clip-path: polygon(0 5vw, 100% 0, 100% 100%, 0% 93%);
  content: '';
  inset: -90px 0 0;
  position: absolute;
}

.webinars::after {
  background: var(--main-color-gray-5);
  bottom: -80px;
  content: '';
  padding-bottom: 80px;
  position: absolute;
  transform: skewY(2deg);
  width: 100%;
}

@media screen and (max-width: 1279px) {
  .webinars {
    font-size: var(--primary-font-size-xxxs);
    padding-top: 80px;
  }

  .webinars::before {
    clip-path: polygon(0 5vw, 100% 0, 100% 95%, 0% 95%);
  }

  .webinars::after {
    bottom: -50px;
  }
}

@media screen and (max-width: 767px) {
  .webinars {
    padding-top: 50px;
  }

  .webinars::before {
    clip-path: polygon(0 5vw, 100% 0, 100% 99%, 0% 96%);
  }
}
