.subscribe__success-image {
  position: absolute;
  right: 11%;
  top: -125%;
}

@media screen and (max-width: 1279px) {
  .subscribe__success-image {
    height: 104px;
    right: -8%;
    top: -28%;
    width: 104px;
  }
}

@media screen and (max-width: 767px) {
  .subscribe__success-image {
    right: -6%;
  }
}
