.content {
  background-color: var(--main-color-white);
  background: image-set(
                url('../../../assets/images/content/background-section-promo-desktop@1x.webp') type('image/webp') 1x,
                url('../../../assets/images/content/background-section-promo-desktop@2x.webp') type('image/webp') 2x,
                url('../../../assets/images/content/background-section-promo-desktop@1x.png') type('image/png') 1x,
                url('../../../assets/images/content/background-section-promo-desktop@2x.png') type('image/png') 2x
              ) center 55px / 100% no-repeat,
              image-set(
                url('../../../assets/images/content/background-section-articles-desktop@1x.webp') type('image/webp') 1x,
                url('../../../assets/images/content/background-section-articles-desktop@2x.webp') type('image/webp') 2x,
                url('../../../assets/images/content/background-section-articles-desktop@1x.png') type('image/png') 1x,
                url('../../../assets/images/content/background-section-articles-desktop@2x.png') type('image/png') 2x
              ) center 929px / 100% no-repeat;
  /* overflow-x: hidden; */
}

@media screen and (max-width: 1279px) {
  .content {
    background: image-set(
                  url('../../../assets/images/content/background-section-promo-tablet@1x.webp') type('image/webp') 1x,
                  url('../../../assets/images/content/background-section-promo-tablet@2x.webp') type('image/webp') 2x,
                  url('../../../assets/images/content/background-section-promo-tablet@1x.png') type('image/png') 1x,
                  url('../../../assets/images/content/background-section-promo-tablet@2x.png') type('image/png') 2x
                ) center -132px / 100% no-repeat,
                image-set(
                  url('../../../assets/images/content/background-section-articles-tablet@1x.webp') type('image/webp') 1x,
                  url('../../../assets/images/content/background-section-articles-tablet@2x.webp') type('image/webp') 2x,
                  url('../../../assets/images/content/background-section-articles-tablet@1x.png') type('image/png') 1x,
                  url('../../../assets/images/content/background-section-articles-tablet@2x.png') type('image/png') 2x
                ) center 645px / 100% no-repeat;
  }
}

@media screen and (max-width: 767px) {
  .content {
    background: image-set(
                  url('../../../assets/images/content/background-section-promo-mobile@1x.webp') type('image/webp') 1x,
                  url('../../../assets/images/content/background-section-promo-mobile@2x.webp') type('image/webp') 2x,
                  url('../../../assets/images/content/background-section-promo-mobile@1x.png') type('image/png') 1x,
                  url('../../../assets/images/content/background-section-promo-mobile@2x.png') type('image/png') 2x
                ) center -125px / 100% no-repeat,
                image-set(
                  url('../../../assets/images/content/background-section-articles-mobile@1x.webp') type('image/webp') 1x,
                  url('../../../assets/images/content/background-section-articles-mobile@2x.webp') type('image/webp') 2x,
                  url('../../../assets/images/content/background-section-articles-mobile@1x.png') type('image/png') 1x,
                  url('../../../assets/images/content/background-section-articles-mobile@2x.png') type('image/png') 2x
                ) center 976px / 100% no-repeat;
  }
}
