.logo {
  display: inline-block;
}

.image {
  display: block;
  fill: var(--main-color-black);
  height: 40px;
  transition: fill .3s ease-out;
  width: 109px;
}

.logoFooter .image {
  fill: var(--main-color-white);
  height: 82px;
  width: 224px;
}

.logo:hover .image {
  fill: var(--text-color-pink-dark);
}

@media screen and (max-width: 767px) {
  .image {
    height: 48px;
    width: 130px;
  }

  .logoFooter .image {
    height: 64px;
    width: 173px;
  }
}