.header {
  background: var(--main-color-white);
  display: flex;
  justify-content: center;
  left: 0;
  padding: 13px 0 12px;
  position: sticky;
  right: 0;
  top: 0;
  transition: transform .2s linear;
  z-index: 20;
}

@media screen and (max-width: 1279px) {
  .header {
    padding: 14px 0;
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding: 12px 0 11px;
  }
}
