.header {
  background: var(--main-color-white);
  display: flex;
  justify-content: center;
  left: 0;
  padding: 13px 0 12px;
  position: sticky;
  right: 0;
  top: 0;
}

@media screen and (max-width: 1279px) {
  .header {
    padding: 14px 0;
  }
}
