.header {
  background: var(--secondary-bg-color);
  display: flex;
  justify-content: center;
  padding: 25px 0;
  width: 100%;
}

.container {
  display: flex;
  width: 1280px;
}

.column {
  align-items: center;
  display: flex;
  width: 33.33%;
}

.menu {
  display: flex;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.center {
  justify-content: center;
}

.right {
  justify-content: end;
}