.webinars__author {
  display: flex;
  flex-direction: column;
  flex: 1 0 73.08%;
  gap: 4px;
  min-height: 103px;
  padding-top: 6px;
}

@media screen and (max-width: 1279px) {
  .webinars__author {
    flex: 1 0 71.236%;
  }
}
