.ebac-link {
  color: var(--main-color-black);
  font: var(--font-wight-medium) var(--secondary-font-size-m) var(--secondary-font);
  line-height: var(--font-line-heigth-m);
  text-decoration: none;
}
